{% extends 'core/base.html' %}


{% block content %}

	<div class="header">
			<div class="header-row row">
				<div class="col-lg-4">
					<h1 class="section_title__header">CSIT <br> Semesters <br> </h1>
				</div>
				<div class="col-lg-8">
					<div class="card">
						<h2 class="section_title__header-card">Select semester from below....</h2>
							<div class="container">
						        <form action="#" method="post" novalidate="novalidate">
						            <div class="row">
						                <div class="sem-list col-lg-5">
						                    <p><a href="#">1st Semester</a></p>
						                    <p><a href="#">2nd Semester</a></p>
						                    <p><a href="#">3rd Semester</a></p>
						                    <p><a href="#">4th Semester</a></p>
						                    
						                       
						                </div>
						                <div class="sem-list col-lg-5">
						                	<p><a href="#">5th Semester</a></p>
						                    <p><a href="#">6th Semester</a></p>
						                    <p><a href="#">7th Semester</a></p>
						                    <p><a href="#">8th Semester</a></p>

						                </div>


						            </div>
						        </form>
						    </div>

						   
					</div>
				</div>
				
			</div>
		</div>

{% endblock %}